* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== THEME ===== */
body {
  font-family: "Segoe UI", sans-serif;
  background: #f4f6fb;
  color: #333;
  transition: background 0.4s, color 0.4s;
}

body.dark {
  background: #0f172a;
  color: #f1f5f9;
}

/* ===== NAVBAR ===== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background: #4f46e5;
  color: white;
}

body.dark .navbar {
  background: #020617;
}

.navbar button {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

/* ===== MAIN ===== */
.main {
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
}

/* HERO */
.hero {
  text-align: center;
  margin-bottom: 40px;
  animation: fadeIn 1s ease;
}

.hero h1 {
  font-size: 36px;
}

.hero p {
  margin-top: 10px;
  color: #555;
}

body.dark .hero p {
  color: #cbd5f5;
}

/* TASK CARD */
.task-card {
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  animation: slideUp 0.8s ease;
}

body.dark .task-card {
  background: #020617;
}

.input-box {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  padding: 14px 22px;
  border: none;
  border-radius: 10px;
  background: #4f46e5;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.05);
}

/* TASK LIST */
ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  background: #f1f5f9;
  border-radius: 10px;
  margin-bottom: 10px;
  animation: fadeIn 0.4s ease;
}

body.dark li {
  background: #1e293b;
}

.task {
  display: flex;
  align-items: center;
  gap: 10px;
}

.completed span {
  text-decoration: line-through;
  opacity: 0.6;
}

.delete {
  background: #ef4444;
  padding: 6px 12px;
  border-radius: 6px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  margin-top: 220px;
  background-color: #020617;
    color: #cbd5f5;

}

/* ANIMATIONS */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(30px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 26px;
  }

  .input-box {
    flex-direction: column;
  }

  button {
    width: 100%;
  }
}
